<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Struktura</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo_struktura.png}">
    <link rel="stylesheet" th:href="@{/css/reset-base.css}">
    <link rel="stylesheet" th:href="@{/css/header-nav.css}">
    <link rel="stylesheet" th:href="@{/css/main-layout.css}">
</head>
<body>
<div th:replace="fragments/header :: public-header-dynamic"></div>

<div class="container">
    </div>

<script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/auth-init.js}"></script>
</body>
</html>